*{
    margin: 0;
    padding: 0;
}
/*commen*/
.text-white{
    color: #fff ;
    background-color: black;
    
}
.text-black{
    background-color:white;
    color:black;
}
html{
    scroll-behavior:smooth;
}

/*main*/
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.nav,#navmore{
/*    display:inline-block;
    position: relative;*/
    float: left;
    height: 46px;
    box-sizing: border-box;
    text-align: center ;
    line-height: 46px;
    padding: 0px 27px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
i.nav-icon-arrow-down { font-size: 12px; }
.nav:hover{
    background-color: #ccc;
    color: black !important;
}
section:hover>#navmore{
    background-color: #ccc !important;
    color: black !important;
}
section:hover .subnav{
    display: block;
} 
.subnav{
    display: none;
    background-color:white;
    position: absolute;
    top: 46px;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 40px;
    padding: 0px 15px;
    box-sizing: border-box;
    left: 432px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.subnav:hover{
    background-color: #ccc;
}
.subnav2{
    top:86px;
}
.subnav3{
    top:126px;
}

i.ti-search, i.ti-menu{
/*    position:absolute;
/*    display: block;*/
    color: white;
    line-height: 46px;
    font-size:inherit;
    box-sizing: border-box;
/*    right: 0px;*/
    padding: 0 25px;
    float: right; 
    cursor: pointer; 
}
i.ti-menu{
    display: none;
}
i.ti-search:hover{
    background-color: #f44336 ;

}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;/* cach tao ty le 2x1*/
    background: url('../img/slider1.jpg') top center / cover no-repeat ;
    color:white;
    
}
#slider-text{
    position: absolute;
    bottom: 47px;
/*   left:50%;
    transform: translateX(-50%);*/
    width: 100%;
/*    left: 0; right: 0;*/
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}  
#slider-text-heading{
    font-size:24px ;
    font-weight: 500;
    margin: 25px 0;
}  
#slider-text-description{
    text-shadow: 0 0 2x black;
    font-size: 15px;
    font-weight: bolder;
    font-family:"Lato", sans-serif;
}
.default{
    max-width: 800px;
    padding: 64px 16px;
    line-height: 1.5;
    margin: 0 auto; /*chinh 3 anh name ra giua*/
    font-family:"Lato", sans-serif ;
    overflow: hidden;
    text-align: justify;
}



.section-heading{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}
.section-subheading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    font-family: "Lato", sans-serif;
    opacity:0.6 ;
    
/*    color: rgba(0, 0, 0, 0.596);*/
    margin :15px;
}
.section-adv{
    text-align: justify;
    font-family: "Lato", sans-serif ;
    font-size: 15px;
    margin: 15px 0;
   
    
}

.team{
    
    text-align:center !important;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    padding: 32px 0;
    width: calc( 100% /3);
    float: left; 
}
  
.team>p{
    margin:16px 0 ;
}
.clear{
    clear:both;
}
.list-ticket{
    background-color: white;
    color: black;
    font-size: 15px;
    margin-top: 40px;
   list-style-type: none;
}
.list-ticket>li{
    padding: 8px 16px;
    border-bottom: #ddd 1px solid;
   color:#757575;
}

.list-ticket .soldout{
    background-color: #f44336;
    color: #fff;
    padding: 0 8px;
    margin-left: 16px;
    display:inline-block;
    
}
.list-ticket .quanlity{
    float: right;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 0 8px;
}

.places{
    padding: 32px 0;
    overflow: hidden;
    
}

.places img{
    width: 100%;
}
.place1,.place2,.place3{
    width: calc(100%/3);
    float: left;
    padding: 0 8px;
    box-sizing: border-box;
    font-family:"Lato", sans-serif ;
    font-size: 15px ;
}
.places p{
    margin: 15px 0;
}
.place-description{
    background-color: white;
    color: black;
    overflow: hidden;
    padding: 0.15px 16px;
    margin-top: -6px;  
}
.places button{
    background-color: black;
    color: white;
    padding: 8px 16px;
    margin: 0 0 16px;
    border:none;
    font-size: 15px;
    font-family: "Lato", sans-serif ;

}

.places button:hover{
    background-color: #ccc;
    color: black;
}







.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center; /* cach can giua 1 khoi theo OY*/
    justify-content: center;/*can giua theo ox*/
    font-family: Arial, Helvetica, sans-serif; 
}
.modal.open{
    display:flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;/*cách tạo chuyển động*/
}
.modal-header{
    
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer; /*cach tao hinh con tro*/
}
.modal-close:hover{
    color:black ;
    background: #ccc;

}
.modal-body{
    padding: 16px;
    box-sizing: border-box;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    box-sizing: border-box;
    border: 1px #ccc solid;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
    
}
#buy-tickets {
    width: 100%;
    background: #009688;
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding: 18px;
    font-size: 15px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}


@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


    
    

.team-contact{
    float: left;
    width: 50%;
    font-size: 18px;
   overflow: hidden;
   display: inline-block;
}

.row1{
    padding: 0 8px;
    box-sizing: border-box;
    width: 48% !important;
    margin-bottom: 8px;
    
}
.col{
    border: 1px #ccc solid;
    padding: 8px;
    
}
.row2{
    padding: 8px;
    width: 100%;
    border: 1px #ccc solid ;
    font-size: 18px;
    box-sizing: border-box;
}
.contact-items>p>i[class*="ti-"]{   /* CSS nang cao*/
    width: 30px;
    display: inline-block;
    
}
.contact-submit{
    float: right;
    margin-top: 16px;
    padding: 10px 16px;
   
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;
    
}
.contact-submit:hover{
    background-color: #ccc;
    color: black;
}
#footer{
    text-align: center; 
    font-size: 24px;
    background-color: #f1f1f1;
    color: #777;
    padding: 64px 16px;
    line-height: 1.5;
   
    font-family:"Lato", sans-serif ;
   
}
#footer>i:hover{
    color: #ccc;

}