:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --btn-widnext : 14rem;
    --header-y: 11.9rem;
    --header-supnav:3.4rem;
    --header-subnav:calc(var(--header-y)-var(--header-supnav));
    --font-size_normal:1.3rem;
    --font-size_smaller:1.2rem;
    --font-size_smallest:1rem;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto' ,sans-serif;
    box-sizing: border-box;
}

*{

   box-sizing:inherit;
   padding: 0;
   margin: 0;
}

.uncusor{
    cursor:unset;
}
.hover:hover{
    opacity: 0.7;
   
}
.header__link-img:hover~.nav__item--hover{
    opacity: 0.7;
}
.unhover:hover{
    opacity: 1 !important;
}

.padding-moreb9{
    padding-bottom: .9rem ;

}
.half-width{
    height:  50%;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__full{
    width: 100%;
}

.grid__row{
    display: flex;
    
    
}

.grid__column-2{
    padding: 0 5px;
    width:  calc(100vw /6);
    
}
article.home-product .grid__row{
    flex-wrap: wrap;
   
}
article.home-product .grid__column-2{
    width: 20%;
    margin-top: 1rem;
}
.grid__column-10{
    padding: 0 5px;
    width: calc( 100vw / 1.2);
}

.grid__column-2-4{
    width: 20%;
    padding: 0 5px;
}
/*modal-layout*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: Growth linear 0.1s;
    --growth-from:0.7;
    --growth-to:1;
    display: none;
}

.modal-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.modal-container{
    margin: auto;
    background-color:white;
    position: relative;
    border-radius: 5px;
    z-index: 3;
    max-width: 40rem;
   
}


.btn--width--icon{
    width: 17rem;
}
.btn.btn--disable{ /*vô hiệu hóa nút */
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}


/*animation*/
@keyframes Show_Notify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* Pagination */
.pagination.pagination__product--space{
    margin-top: 4rem;
}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
}
.pagination__item{
    margin-right: 2rem;
    
}
.pagination__item-number{
    text-decoration: none;
    color: #989898;
    font-size: 2rem;
    width: 5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
}
.pagination__item-number--on{
    background-color: orangered;
    color: var(--white-color);

}
.pagination__item:first-child .pagination__item-number,
.pagination__item:last-child .pagination__item-number{
    background-color: transparent;
    color:#989898 ;
    font-weight: 200;
}


.pagination__item-number--none{
    background-color: transparent;
    color: #989898;
}

