
/*header*/
header{
    background: linear-gradient(180deg
, orangered, #ff6a00f0);
    color: var(--white-color);
    font-weight: 400;  
    height: var(--header-y);
}
/*supnav*/
.supnav,.subnav{
    display: flex;
    justify-content:space-between;
    
}

.supnav{
    position: relative;
    height: var(--header-supnav);
}

.nav{
    display:inherit;
    font-size: 1.3rem;
    min-height: 34px;
    align-items: center; 
    position: relative;
   
}

.nav:first-child .nav__item+.nav__item{
    border-left: 2px solid hsla(0,0%,100%,.22);;
}

.nav__item{
    list-style-type: none;
    padding: 0 10px;
    position: relative;
}

.nav__item>a{
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav>a>i{
    padding: 0 10px 0 0;
    color: var(--white-color);
    font-size: 1.6rem;
}
.fab.fa-instagram{
    font-size: 18px;
}

.nav__item>a>i{
    font-size: 16px;
    padding:0 7px;
    
}

.nav>.nav__item:hover{
    opacity: 0.7;
}
.nav__item[disabled]{
    opacity: 1 !important;
}

.nav__item:hover>.header__link-img{
    display: block;
}
.nav__item--used{
    position: relative;
}
.nav__item__user--avatar{
    width: 22px;
    height: 23px;
    border-radius: 50%;
    margin: 0 7px 0 0 ;
}

.nav__item--used__list{
    position: absolute;
    top: calc(100% + 5px);
    list-style-type: none;
    background-color: var(--white-color) ;
    z-index: 2;
    width: 17rem;
    right: 10px;
    border: 1px #ccc solid;
    display: none;
    border-radius: 2px;
}
.nav__item--used__select:last-child{
    border-top: 1px rgba(0, 0, 0, 0.05) solid;
}
.nav__item:hover .nav__item--used__list{
    display: block;
}
.nav__item--used__select{
    cursor: pointer;
    padding: 1.2rem 1.5rem;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
}
.nav__item--used__list::before{
    content: '';
    display: block;
    position: absolute;
    border-width: 2rem 3rem;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    right: 16px;

}
.nav__item--used__select:hover{
    background-color: rgba(221, 221, 221, 0.288);
    color: rgb(47 201 82);
}
.nav__item--used .nav__item--used__list:hover{
    opacity: 1;
}

.header__link-img{
    display: none;
    background-color: white;
    position:absolute;
    width: 191.9px;
    top:150%;
    box-shadow: 0 0 2px #ddd;
    z-index: 1;
    border-radius: 2px;
}
.Hlink-img__QR{
    border-radius: 2px;
    display: block;
    width: 100%;
}
.header__link-img::before{
    content: "";
    display: block;
    width: 100%;
    height: 2rem;
    top: -1rem;
    position:absolute;
    

}
.Hlink-img__app-store{
    width: 47%;
    display: inline-block;
    border-radius: 2px;
}
.Hlink-img__CHplay{
    width: 47%;
    float: right;
    display: inline-block;
    border-radius: 2px;
}
.Hlink-img__appmore{
    width: 47%;
    margin-top: 5px;
    display: block;
    border-radius: 2px;
}

.header__link-img__container{
    width: 100%;
    padding: 10px 15px;
    
}
/* header-notify */
.header__notify{
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    width: 40rem;
    max-height: 70vh;
    right: 0;
    top:  150%;
    display: none;
    transform-origin: calc(100% - 10%) top ;
    will-change: opacity,transform;
    animation: Show_Notify ease-in 0.1s;
    z-index: 1;
}

.nav__item:hover>.header__notify{
    display: block;
}
/* NOTE: Tip Hover nav__item */
.nav__item:hover .nav__item--hover{
    opacity: 0.7;
}
.header__notify::before{
    content: "";
    display: block;
    width: 10rem;
    height: 1rem;
    right: 0;
    position:absolute;
    top:-1rem ;
   
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 1rem 1.5rem ;
    border-color: transparent transparent white transparent;
    top: -2rem;
    right: 3.5rem;
}
.header__notify-header{
  display: block;
  text-decoration: unset;
  color: #aaa;
  text-transform: capitalize;
  padding: 1rem;
  font-size: 1.4rem;
  cursor: text;
}
.header__notify-item--bgrcolor{
    background-color:rgba(255, 235, 205, 0.384);
}
.header__notify-item{
    padding: 1rem;
    display: flex;
    text-decoration: none;
    transition: background-color ease-in 0.1s;
}
.header__notify-item:hover{
   
    background-color: rgba(165, 42, 42, 0.027);
}

.header__notify-img{
    flex: 1;
    background-image: url('https://cf.shopee.vn/file/21a4856d1fecd4eda143748661315dba_xhdpi');
    background-size: contain;
    background-repeat: no-repeat;
    
}
.header__notify-content{
    flex: 7;
    padding: 0 7px;
    text-align: justify;
}

.header__notify-content1{
    color: black;
    padding: 3px 0 5px 0;
    font-size: 1.4rem;
    
}
.header__notify-content2{
    color: #aaa;
    font-size: 1.2rem;
    letter-spacing: 0px;
    line-height: 1;
}
.header__notify-footer{
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
}



/*subnav*/
.subnav{
    padding: 1.6rem 0.7rem 0 0.7rem;
    line-height: var(--header-subnav);
    
}
.subnav__shop{
   
    flex: 1.1;
    min-width: 20rem;
   
    /* 
    font-size: 3rem;
    text-decoration: none;
    color: var(--white-color);
    font-family:'Glory', sans-serif;
    display: flex;
    align-items:baseline; */
}
.subnav__shop-svg{
    width: 17rem;
    transform: translateY(-1rem);
   
}
/* .subnav__shop__des{
    padding: 0 5rem 0 5px;
    font-weight: 200;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.fa-shopping-bag{ font-size: 4rem;} */

.subnav__items{
    flex: 5;
    display: flex;
    flex-direction: column;
    min-width: 45rem;
    position: relative;
}
.subnav__items-1{
    flex: 4;
    display: flex;
    height: 80%;
    font-size: 1.4rem;
    background-color: #fff;
    padding: 2px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.subnav__items__search{
    border:none;
    flex: 1;
    padding: 9px 0px 9px 10px;
    outline: none;
    
}
.subnav__items__search:focus{
    border-color:rebeccapurple ;
}
.subnav__items__search:focus ~ .subnav__search-his{
    display: block;
}
.subnav__items__search+button{
    border: none;
    display: inline-block;
    background: orangered ;
    padding: 0 2.5rem;
    color: var(--white-color);
    border-radius: 2px;
    cursor: pointer;
}
.fa-search{
    font-size: 1.6rem;
    
}
.subnav__search-his{
    position: absolute;
    display: none;
    top :75%;
    transform: translateX(-2px);
    font-size: 1.3rem;
    width: calc( 100% - 7.5rem);
    border-radius: 3px;
    box-shadow: 0px 0px 5px #ccc;
    z-index: 1;
}

.subnav__search-list{
    text-decoration: none;
    display: block;
    padding: 13px 0px 13px 10px;
    background-color: var(--white-color);
    color: black;
}
.subnav__search-list:hover{
    background-color: #fafafa;
}

.subnav__search-list:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius:2px;

}
.subnav__search-list:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;

}
.subnav__items-2{
    flex:1;
    font-size: 1.2rem;
    margin: 5px 0 0 0;
    font-weight: 500;
    display:flex;
  
}
.subnav__items-2>a{
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}
.subnav__items-2 a+a{
    margin-left: 10px;
}
.subnav__basket{
    flex: 0.7;
    font-size: 3rem;
    display: flex;
    align-items:center;
    transform: translateY(-5px);
    justify-content: center;
    padding-left: 10px;
    position: relative;
    z-index: 1;
}
.subnav__basket__cart-group{
    position: relative;
    padding: 10px;
    cursor: pointer;
    
}
.subnav__basket__cart--number{
    position: absolute;
    font-size: 1.3rem;
    background-color: var(--white-color);
    color: orangered;
    padding: 2px 6px;
    border-radius: 15px;
    border: 2px solid orangered;
    line-height: 11px;
    top: 5px;
    left: 37px;
}

.header__cart{
    
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 1px);
    color: black;
    width: 40rem ;
    right: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: none;
    cursor: default;
    transform-origin: calc(100% - 2rem) top;
    animation: Show_Notify linear 0.15s;
    max-height: 50rem;
    z-index: 5;
}

.header__cart--nothing .header__cart__img--not,
.header__cart--nothing .header__cart__des--nocart{
    display: block;
}

.subnav__basket__cart-group:hover .header__cart{
    display:block ;
}

.header__cart::after{
    content: '';
    display: block;
    background-color: transparent;
    height: 2rem;
    width: 5rem;
    position: absolute;
    top:-1rem;
    right: 0;
    
    
}
.header__cart::before{
    content: '';
    display: block;
    position: absolute;
    border-width: 2rem ;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    right: 0.2rem;
    top:-3.2rem;
    cursor: pointer;
}
.header__cart__img--not{
    width: 60%;
    padding: 0 0 2rem 0;
    margin: 0 20%;
    margin-top: 5rem;
    display: none;
   
}
.header__cart__des--nocart{
    font-size: 1.4rem;
    color: black;
    text-align:center;
    margin-bottom: 5rem;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.header__cart--heading{
    font-size: 1.4rem;
    padding: 1rem;
    color: #ccc;
    font-weight: 700;
}

.header__cart-list-item{
    list-style-type: none;
    
}

.header__cart--item{
    display: flex;
    padding: 0.8rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
   
}
.header__cart--item:hover{
    background-color: rgba(165, 42, 42, 0.027);
}


.header__cart--img{
    width: 20%;
    margin-right: 1rem;
    height: 5rem;
    flex: 1;
}
.header__cart-infor-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex: 4;
}
.header__cart-infor-item__head{
   display: flex;
   justify-content: baseline;
}
.header__cart-name-item{
    font-size: 1.4rem;
    font-weight: 500;
    flex:1;
    margin-right: 5px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.header__cart-price-item{
    font-size: 1.4rem;
    color: orangered;
    font-weight: 500;

}
.header__cart--mutiply,.header__cart-quantity-item{
    font-size: 1rem;
    color: #bbb;
    font-weight: 500;
    padding: 2px 0 0 0 ;
    margin-left: 2px;
}

.header__cart-infor-item__body{
    font-size: 1.2rem;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    color: #bbb;
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}
.header__cart-des-item{
}
.header__cart-delete-item{
    color: black;
    text-decoration: none;
}
.header__cart--btn{
    font-size: 1.4rem;
    background-color: orangered;
    color: var(--white-color);
    border: none;
    padding: 7px 1rem;
    float: right;
    margin: 0.5rem 1rem 1rem 0;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.479);
    cursor: pointer;
}
.header__cart--btn:active{
    box-shadow: unset;
}

/* CONTENT */
.app-content{
    font-size: var(--font-size_normal);
    background-color: #f5f5f5;
    padding-top: 3rem ;
    padding-bottom: 5rem;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;

}
.fas.fa-list{
    padding-right: 3px;
}
.category__heading{
    padding: 1.4rem 1rem 1.8rem;
    /* border-bottom: 1px rgba(204, 204, 204, 0.651) solid; */
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 510;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.category__list{
    margin-left: 1.2rem;
}


.category__item{
    list-style-type: none;
    padding: 0.7rem 1rem;
    position: relative;
}

.category__item::before{
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #e1e1e1 ;
    top: 0;
    left: 1rem;
    right: 2rem;

}
.category__item:first-child::before{
    display: none;
}
.category__item-link{
    position: relative;
    right: 0;
    text-decoration: none;
    transition: right linear 0.1s;
    color: var(--text-color);
}
.category__item-link:hover{
    right: -4px;
    color: tomato;
    
}
.category__item-link-on{
    color: tomato;
    
}
.category__item-link-on:hover{
    right: 0;
}
.category__item--active .category__item-link::before{
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border: 0.5rem solid;
    border-color: transparent transparent transparent tomato;
    
}

.home-filter{
    background-color:#ededed;
    display: flex;
    padding: 13px 2rem;
    align-items: center;
    
}

.home-filter__label{
}

.home-filter__btn{
    border: unset;
    width: 9rem;
    height: 3.4rem;
    margin-left: 1rem;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
}
.home-filter__btn.home-filter__btn--active{
    background-color: orangered;
    color: var(--white-color);

}

.select-price{
    background-color: white;
    margin-left: 1.2rem;
    display: flex;
    width: 20rem;
    height: 3.4rem;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    border-radius: 2px;
}
.select-price:hover .seclect-price__list{
    display: block;
}
.select-price__title{
    
}
.seclect-price__list{
    width: 100%;
    position: absolute;
    top : calc(100% + 1px);
    background-color: var(--white-color);
    left: 0;
    display: none;
    box-shadow: 0 0 2px #ccc;
    padding: 1rem 0;
    border-radius: 2px;
    z-index: 1;
}
.seclect-price__list::before{
    content: "";
    display: block;
    width: 100%;
    height: 1rem;
    position: absolute;
    top:-10px;
   
}
.seclect-price__option{
    display: block;
    padding: 1rem;
    color: var(--text-color);
    text-decoration: none;
}
.seclect-price__option:hover{
    color: tomato;
}
.home-filter__page{
    display: flex;
    margin-left: auto;
}
.home-filter__page-number{
    color: orangered;
    margin-right: 2px;
}
.home-filter__page-control{
    margin-left: 2.4rem;
    border-radius: 2px;
}
.home-filter__page-btn{
    padding: 0.9rem 1.3rem;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    
}
.home-filter__page-btn.page-number--none{
    background-color: #f9f9f9;
    color: #ccc;

}
.home-filter__page-btn:first-child{
    border-right: 1px #ededed solid;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.home-filter__page-btn:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}



.home-product{
    padding: 2rem 0;
    
}
.product__item{
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 1px #ccc;
    cursor: pointer;
    position: relative;
    display: block;
    text-decoration: none;
}
.product__item-img{
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    
}
.product__item-des{
    padding: 1rem;
    
    
}
.product__item-name{
    
    font-size: var(--font-size_normal);
    font-weight: 600;
    color: rgb(57 57 57);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    overflow: hidden;
    display: block; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    

}
.product__item-price{
    font-size: 16px;
    color: #ee4d2d;
   
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.product__item-price>span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px;

}
.fas.fa-shipping-fast{
    
}
.product__item-react{
    padding-top: 5px;
    font-size: var(--font-size_smaller);
    display: flex;
    justify-content: space-between;
}
.product__item-react__tym{
    font-size: 1.2rem;
}

.react__tym--fill{
    display: none;
}

.product__item-react__tym.reacted-heart .react__tym--fill{
    display: inline-block;
    color: #f53d2f;
}
.product__item-react__tym.reacted-heart .react__tym--none{
    display: none;
}

.product__item-react__star{
    font-size: 0.9rem;
    color: #ccc;
    position: relative;
    top: -2px;
}
.product__item-react__star .react__star--gold{
    color: #ffce3d;

}
.product__item-sold{
    color: var(--text-color);
    padding-left: 5px;
}
.product__item-origin{
    display: flex;
    font-size: var(--font-size_smaller);
    justify-content: space-between;
    padding-top: 5px;
    color: #858585;
}
.product__item-org__brand{}
.product__item-org__adr{
    color: rgba(0,0,0,.65);;
}

.product__item__decoration-favourit{
    position: absolute;
    top: 1rem;
    background-color: currentColor;
    color: orangered;
    line-height: 1rem ;
    padding: 4px 7px;
    left: -4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.product__item__decoration-favourit span{
    color: var(--white-color);
}
.product__item__decoration-favourit::before{
    content: "";
    display: block;
    position:absolute;
    top: 100%;
    left: 0;
    border-top: currentColor solid 3px;
    border-left:3px solid transparent;
    filter: brightness(60%);
}
.product__item__decoration-redu{
    position: absolute;
    top:0;
    right: 0;
    background-color: #ffd839;
    display: flex;
    flex-direction: column;
    padding: 0.5rem  ;
    
}
.product__item__decoration-redu::before{
    content: "";
    display: block;
    position:absolute;
    right: 0;
    bottom: -10px;
    border-width: 0 calc(42.36px / 2) 10px;
    border-style: solid;
    border-color: transparent #ffd839 transparent #ffd839;
}
.product__item__decoration-redu__precent{
    color: orangered;
    font-size: 1.6rem;
}
.product__item__decoration-redu__text{
    color: var(--white-color);
}
/*modal*/
.auth-form{
    padding: 0 2rem;
    
}
.auth-form__header{
    display: flex;
    justify-content:space-between;
    padding: 2rem 1rem;
}
.auth-form__heading{
    font-size: 1.9rem;
}
.auth-form__signin{
    font-size: 1.6rem;
    color: orangered;
    cursor: pointer;
    font-weight: 500;
}
.auth-form__body{
    padding: 1.2rem 0 0 0;
    font-size: 1.3rem;
}
.auth-form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.auth-form__input{
    text-transform:capitalize;
    padding: 12px;
    border: 1px solid #ccc;
    outline: none;

}

.auth-form__note{
    
}
.auth-form__text{
    text-align: center;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.2;
}
.auth-form__help{
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
   
}

.auth-form__forget-password{
    padding: 0 16px;
    text-decoration: none;
    color: orangered;
    font-weight: 450;
    border-right: 1px rgba(221, 221, 221, 0.76) solid ;
   
}

.auth-form__help-ping{
    padding: 0 16px;
    text-decoration: none;
    color: #aaa;
}

.auth-form__policy{
    text-decoration: none;
    color: orangered;
    font-weight: 450;
}


.auth-form__controls{
    margin-top: 7rem;
    display: flex;
    justify-content:flex-end;
    font-size: 1.6rem;
}
.auth-form__control1{
    width: var(--btn-widnext);
    border: none;
    background-color: #fff;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 8px;
}
.auth-form__control1:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.auth-form__control2{
    width: var(--btn-widnext);
    border: none;
    background-color:orangered ;
    padding: 5px  0;
    cursor: pointer;
    color: var(--white-color);
    border-radius: 2px;
}
.auth-form__socials{
    margin-top: 1rem;
    background-color: rgba(221, 221, 221, 0.692);
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    border-radius: 0 0 3px 3px;

}
.auth__socials-inner{
    display: flex;
    justify-content: space-around;
}
.btn{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 0.7rem;
    border-radius:2px ;
    align-items: baseline;
}
.btn-Face .fa-facebook,.btn-gg .fa-google{
    transform: scale(1.5);
}
.btn-Face{
    background-color: blue;
    color: var(--white-color);
}
.btn-gg{
    background-color: var(--white-color);
    color: black;
}


/* Footer */

.footer{
    background-color: #fbfbfb;
    padding-bottom: 4rem;
}
.footer__heading{
    font-size:var(--font-size_smaller);
    font-weight: 550;
    text-transform: uppercase;
    color: #7b7b7b;
    margin: 4rem 0 2rem 0;
}
.footer__list{
    font-size: var(--font-size_smaller);
    list-style-type: none;
}
.footer__item{
    
}
.footer__item-link{
    text-decoration: none;
    color: #797979;
    line-height: 2;
    text-transform: capitalize;
    
}
.footer__list-img{
    display: flex;
    margin-right: 5rem;
}
.footer__items-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.footer__item-SQR{
   margin-right: 8px;
   border: 1px solid #CCC;
}
.footer__items-img .Hlink-img__app-store,
.footer__items-img .Hlink-img__CHplay,
.footer__items-img .Hlink-img__appmore{
    width: 100%;
   
    
}
.footer__icon{
    font-size: 1.6rem;
    transform: translateY(2px);
    margin-right: 5px;
}
.footer__icon~.footer__item-link:hover{
    color: orangered;
    filter: brightness(90%);
}

